
.carousel-item .active{
  justify-content: center;
}

.row{
  padding: 10px;
}

.card{
  border:0ch;
}


.collapse {
  position: relative;
}

#juryleden{
  background-color: rgb(211, 211, 211, 0.8) !important;
}
#juryleden .card {
  border: 0px;
  background-color: lightgray;
}

#festivalinfo{
  
  align-items: center;
}
