/* carousel logo size */
.SponsorItem {


  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  background-size: cover;
}

.row{
  padding: 10px;
}

/* styling for background video */
#myVideo {
  position: fixed;
  right: 0;
  top: 0px;
  min-width: 100%;
  min-height: 100%;
}

.card{
  border:0ch;
}
.card-title{
  justify-content: center;
}

.collapse {
  position: relative;
}

#juryleden{
  background-color: rgb(211, 211, 211, 0.8) !important;
}
#juryleden .card {
  border: 0px;
  background-color: lightgray;
}

#festivalinfo{
  
  align-items: center;
}

.timetableobject{
  border-top: 2px black solid;
  border-right: 2px black solid;
}
.divisie1{
  background-color: olive ;
}

.divisie2{
  background-color: #3d91E0;
}

.divisie3{
  background-color: #952B60;
}

.divisie4{
  background-color: #F1B620;
}