/* carousel logo size */
.SponsorItem {


  max-width:100%;
  max-height:100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.row{
  padding: 10px;
}

/* styling for background video */
#myVideo {
  position: fixed;
  right: 0;
  top: 0px;
  min-width: 100%;
  min-height: 100%;
}

.card{
  border:0ch;
}
.card-title{
  justify-content: center;
}

.collapse {
  position: relative;
}

#juryleden{
  background-color: rgb(211, 211, 211, 0.8) !important;
}
#juryleden .card {
  border: 0px;
  background-color: lightgray;
}

#festivalinfo{
  
  align-items: center;
}


