/* styling navbar */
a:hover{background-color: beige;}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  top: 0px;
  min-width: 100%;
  min-height: 100%;
}

.collapse
{
    position: relative;
}
.container
{
  background-image: url();
}

#juryleden .card
{
  border: 0px;
  background-color: lightgray;
}
  
  @media (min-width: 768px) {
    .container {
        width: 750px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
        width: 970px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
  }
  
  @media (max-width: 767px) {
    #featureContainer .carousel-inner .carousel-item > div {
      display: none;
    }
    #featureContainer .carousel-inner .carousel-item > div:first-child {
      display: block;
    }
  }
  
  #featureContainer .carousel-inner .carousel-item.active,
  #featureContainer .carousel-inner .carousel-item-next,
  #featureContainer .carousel-inner .carousel-item-prev {
    display: flex;
  }
  
  /* medium and up screens */
  @media (min-width: 768px) {
    
    #featureContainer .carousel-inner .carousel-item-end.active,
    #featureContainer .carousel-inner .carousel-item-next {
      transform: translateX(100%);
    }
    
    #featureContainer .carousel-inner .carousel-item-start.active, 
    #featureContainer .carousel-inner .carousel-item-prev {
      transform: translateX(-100%);
    }
  
    #featureContainer .card img{
      width: 90%;
      height: 40vh;
    }
  
    #featureContainer .carousel-item{
      justify-content: space-between;
    }
  
  }
  
  @media (max-width: 767px) {
    #featureContainer .card img{
      width: 100%;
      height: 75vh;
    }
  }
  
 