/* styling navbar */
a:hover{background-color: beige;}


  
  .collapse
  {
      position: relative;
  }

/* styling container inschrijven */


.container
{
  background-image: url();
}

.festivals .card
{
  border: 0px;
  background-color: lightgray
}
  
.spacer {
    padding-top: 0px;
    padding-bottom: 25px
}